{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Tags</th>
            <th>Stock</th>
            <th>Daily Rent</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
        <!-- movies:detail referees to url with the name: movies_detail  -->
          <td><a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a></td>
          <td>{{ movie.genre }}</td>
          {% if movie.tags %}}
          <td>
              {% for tag in movie.tags.all %}
                {{tag}},
              {% endfor %}
          </td>
          {% endif %}}
          <td>{{ movie.number_in_stock }}</td>
          <td>{{ movie.daily_rent }}</td>
        </tr>
        {% empty %}
            <h1>No Posts Available at This Time</h1>
        {% endfor %}
    </tbody>
</table>
<nav>
    {% if movies.has_previous %}
        <li><a href="?p={{movies.previous_page_number}}">Previous</a></li>
    {% endif %}
    {% if movies.has_next %}
        <li><a href="?p={{movies.next_page_number}}">Next</a></li>
    {% endif %}
</nav>

{% endblock %}